<div class="row">
	<div class="col-xs-12">
		<h2  class="text-center">Error: Auction or User does not exist</h2>
	</div>
</div>
<div class="row center-block">
    <div class="col-md-4 col-xs-12">
        <img src="img/backgroundLeft.jpg" class="backgroundwatch" alt="watch background image">
    </div>
    <div class="col-md-4 col-xs-12">
        <img src="img/backgroundCenter.png" class="backgroundwatch" alt="watch background image">
    </div>
    <div class="col-md-4 col-xs-12">
        <img src="img/backgroundRight.jpg" class="backgroundwatch" alt="watch background image">
    </div>
</div>