<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Create An Auction</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron" id="sellJumbotron">
        <form name="sellForm">
            <div class="row">
                <div class="form-group col-md-6 col-xs-12">
                    <label for="brand">Brand:</label>
                    <input type="text" name="brand" class="form-control" id="" placeholder="Brand" ng-model="brand" required>
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label for="model">Model:</label>
                    <input type="text" name="model" class="form-control" id="" placeholder="Model" ng-model="model" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 col-xs-12 center-align">
                    <label for="year">Year:</label>
                    <select name="year" id="input" class="form-control center-align" required="required" ng-model="year" required>
                        <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-xs-12 center-align">
                    <label for="movement">Movement:</label>
                    <select name="movement" id="input" class="form-control center-align" required="required" ng-model="movement" required>
                        <option value="Quartz">Quartz</option>
                        <option value="Automatic">Automatic</option>
                        <option value="Solar">Solar</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-xs-12 center-align">
                    <label for="strap">Strap:</label>
                    <select name="strap" id="input" class="form-control center-align" required="required" ng-model="strap" required>
                        <option value="Leather">Leather</option>
                        <option value="Metal">Metal</option>
                        <option value="Rubber">Rubber</option>
                        <option value="Ceramic">Ceramic</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="form-group col-md-12 col-xs-12">
                    <label for="end_date">End Date:</label>
                    <input name="end_date" type="date" class="form-control" ng-model="end_date">
                </div>
            </div>
            <div class="form-group">
                <label for="desc">Description:</label>
                <textarea name="desc" id="input" class="form-control" rows="10" ng-model="description" required></textarea>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="form-group">
                        <label class="sr-only" for="bidAmount">Amount (in Pounds)</label>
                        <div class="input-group">
                            <div class="input-group-addon">£</div>
                            <input type="number" name="price" class="form-control" id="" placeholder="Cost in £" ng-model="price" required>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            </form>
            <div class="row text-center">
                <button class="btn btn-primary text-center" ng-click="addAuction()"> Add auction and add photos</button>
            </div>
            <div class="row text-center">
                <p class="error">{{errorText}}</p>
            </div>
        </div>
    </div>
</div>
